
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="/sailor/assets/img/kocaelispor-logo.png" rel="icon">
    <title>KOCAELİSPOR | ADMİN</title>
    <link href="~/web/dist/css/styles.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="index.html"><img width="50px" src="/sailor/assets/img/kocaelispor-logo.png" alt="Alternate Text" />Kocaelispor</a><button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button><!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
            <div class="input-group">

            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="/AdminProfile/Index">Profilim</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/AdminMain/LogOut">Çıkış Yap</a>
                </div>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">İşlemler</div>
                        @if (User.IsInRole("A"))
                        {
                            <a class="nav-link" href="/AdminMain/Index/">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Anasayfa
                            </a>
                        }
                            @if (User.IsInRole("A"))
                            {
                                <a class="nav-link" href="/AdminMainImage/Index">
                                    <div class="sb-nav-link-icon"><i class="fas fa-camera-retro"></i></div>
                                    Anasayfa Fotoğrafları
                                </a>
                            }
                            <a class="nav-link" href="/AdminPlayers/Index">
                                <div class="sb-nav-link-icon"><i class="fas fa-child"></i></div>
                                Oyuncular
                            </a>
                            @if (User.IsInRole("A"))
                            {
                                <a class="nav-link" href="/AdminHistory/Index">
                                    <div class="sb-nav-link-icon"><i class="fas fa-bars"></i></div>
                                    Tarihçe
                                </a>
                            }
                            @if (User.IsInRole("A"))
                            {
                                <a class="nav-link" href="/AdminContact/Index">
                                    <div class="sb-nav-link-icon"><i class="fas fa-phone"></i></div>
                                    İletişim
                                </a>
                            }
                            @if (User.IsInRole("A"))
                            {
                                <a class="nav-link" href="/AdminUser/Index">
                                    <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                                    Kullanıcılar
                                </a>
                            }
                            <a class="nav-link" href="/AdminProfile/Index">
                                <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                                Profilim
                            </a>
                        </div>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Kocaelispor &copy; @DateTime.Now.Year Tüm Hakları Saklıdır</div>
                        <div>G212102053 Mehmet Kaan AKCAN</div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/web/dist/js/scripts.js"></script>
</body>
</html>



