<div class="login-form login-form-left">
                <div class="agile-row">
                    <h3>Yeni Kullanıcı Kaydı</h3>
                    <div class="login-agileits-top">
                        <form action="/AdminUser/UserAdd" method="post">
                            <input type="text" class="name form-control" name="UserName" Placeholder="Kullanıcı Adı" required="" />
                            <input type="text" class="name" name="FullName" Placeholder="Tam Ad" required="" />
                            <input type="email" class="email" name="Email" Placeholder="Email" required="" />
                            <input type="password" class="password" name="Password" Placeholder="Şifre" required="" />

                            <input type="submit" value="Kaydol">
                        </form>
                    </div>
                </div>
            </div>
