@using g212102053_mehmet_kaan_akcan_odev.Models.Siniflar
@model Tuple<List<Main>, List<MainImage>>

@{
    ViewBag.Title = "Home Page";
}

<section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
        
        <div class="carousel-inner" role="listbox">

            @foreach (var i in Model.Item2)
            {
                <!-- Slide 1 -->
                <img class="carousel-item active" src="@i.MainImageUrl" />
            }

            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
            </a>

            <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
            </a>

        </div>
       
</section><!-- End Hero -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="row content">
                @foreach (var m in Model.Item1)
                {
                    @m.Promotion
                }
            </div>

        </div>
    </section><!-- End About Section -->

</main><!-- End #main -->