@using g212102053_mehmet_kaan_akcan_odev.Models.Siniflar
@model List<Main>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Anasayfa Bilgileri</h2>
<table class="table table-bordered" style="margin-top:20px;">
    <tr>
        <th>Tanıtım</th>
        @if (User.IsInRole("A"))
        {
            <th>İşlemler</th>
        }
     </tr>
    @foreach (var m in Model)
    {
        <tr>
            <td>
                @m.Promotion
            </td>
            @if (User.IsInRole("A"))
            {
                <td>
                    <a href="/AdminMain/MainUpdate/@m.MainID" class="btn btn-success">Güncelle</a>
                   
                </td>
            }
            </tr>
    }
</table>



